/* Container do form */
.frm-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.logo {
  width: 250px;
}

.background-login {
  width: 100%;
  height: auto; /* deixa a altura proporcional */
  object-fit: cover;
  object-position: left;
  display: block;
  aspect-ratio: 16 / 9; 
}

/* No mobile */
@media (max-width: 575.98px) {
  .background-login {
    width: 100%;
    height: auto; /* garante que a imagem diminua */
    aspect-ratio: auto; /* desativa proporção fixa */
    max-height: 300px; /* limite de altura */
  }
}